Located in {{currentRental.city.name}}, this {{currentRental.bedrooms}} bedroom {{currentRental.type}} is available by arrangement through {{currentRental.owner}}.
<br>
<p><img src={{currentRental.image}} alt={{currentRental.type}}></p>
<button {{action 'deletefromRentalDetailJs' currentRental}}>Delete</button>
<!-- <button (click)="delete1(currentRental)">Delete</button> -->
